<app-page-header headerName="Nova categoria"></app-page-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="categoriaForm">
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tipo</ion-label>
        <ion-select placeholder="(Selecione)" formControlName="tipo">
          <ion-select-option value="C">Crédito</ion-select-option>
          <ion-select-option value="D">Débito</ion-select-option>
        </ion-select>
      </ion-item>
    </form>
  </ion-list>

  <ion-button [disabled]="!categoriaForm.valid" (click)="inserir()">
    Salvar
    <ion-icon slot="end" name="checkmark"></ion-icon>
  </ion-button>
</ion-content>