<ion-list>
  <ion-list-header>
    <ion-label>{{header}}</ion-label>
  </ion-list-header>

  <ion-item *ngFor="let subcategoria of subcategorias">
    <ion-label (click)="openOptionsDialog(subcategoria)">
      <h2>{{subcategoria.nome}}</h2>
      <p>Categoria: <strong>{{subcategoria.categoria.nome}}</strong></p>
    </ion-label>

    <ion-chip *ngIf="isCredito(subcategoria.categoria); else subcategoriaDebito" color="success">
      <ion-label>{{subcategoria.categoria.tipo}}</ion-label>
    </ion-chip>

    <ng-template #subcategoriaDebito>
      <ion-chip color="danger">
        <ion-label>{{subcategoria.categoria.tipo}}</ion-label>
      </ion-chip>
    </ng-template>
  </ion-item>
</ion-list>