<app-page-header headerName=""></app-page-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- subcategory-details -->
  <ion-list>
    <ion-list-header>
      <ion-label>Detalhes da subcategoria</ion-label>
    </ion-list-header>

    <form [formGroup]="detailsForm">
      <ion-item lines="none">
        <ion-label position="stacked">Nome</ion-label>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Tipo</ion-label>
        <ion-input formControlName="tipo"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Categoria</ion-label>
        <ion-input formControlName="categoria"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Editável</ion-label>
        <ion-toggle formControlName="editavel"></ion-toggle>
      </ion-item>
    </form>
  </ion-list>
  <!-- /.subcategory-details-->
</ion-content>