<app-page-header headerName="Movimentos"></app-page-header>

<!-- search-bar -->
<ion-toolbar>
  <ion-searchbar placeholder="Descrição, valor, data" (ionChange)="onSearch($event)" (ionCancel)="resetFiltro()"
    (ionClear)="resetFiltro"></ion-searchbar>
</ion-toolbar>
<!-- /.search-bar -->

<!--filters-fab-button -->
<ion-fab horizontal="end" vertical="top" slot="fixed">
  <ion-fab-button *ngIf="!isFiltroRapidoAtivo" color="dark">
    <ion-icon name="search"></ion-icon>
  </ion-fab-button>

  <ion-fab-button *ngIf="isFiltroRapidoAtivo" (click)="limpaFiltroRapido()" color="danger">
    <ion-icon name="close"></ion-icon>
  </ion-fab-button>

  <ion-fab-list>
    <ion-fab-button color="light" (click)="filtraPorPeriodo('mesPassado')">
      <ion-icon name="return-left"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="light" (click)="filtraPorPeriodo('esteMes')">
      <ion-icon name="calendar"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="light" (click)="filtraPorPeriodo('proximoMes')">
      <ion-icon name="return-right"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <br />

  <app-lista-movimentos [modal]="false" [movimentos]="movimentosFiltrados"
    emptyMovimentosMessage="Nenhum movimento encontrado"></app-lista-movimentos>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Carregando..">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <ion-button *ngIf="!isFiltroRapidoAtivo && hasMovimentos()" color="primary" size="default" expand="full" (click)="carregarMais()">
    Carregar mais
  </ion-button>

  <!-- add-fab-button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/movimentos/inserir']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>