<app-page-header *ngIf="modal" (closeEventEmitter)="closeModal()" headerName="Histórico de jobs" showCloseButton="true">
</app-page-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item>
        <ion-label>
          <h2>{{task.nome}}</h2>
          <p>Data: <strong>{{task.dataExecucao | date: 'dd/MM/yyyy'}}</strong></p>
          <p>Origem: <strong>{{task.origem}}</strong></p>
        </ion-label>

        <ion-icon *ngIf="task.executado" name="checkmark-circle" color="success"></ion-icon>
        <ion-icon *ngIf="!task.executado" name="close-circle" color="danger"></ion-icon>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option (click)="executar(task)">Executar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>