<app-page-header (closeEventEmitter)="closeModal()" headerName="Movimentos" showCloseButton="true">
</app-page-header>

<ion-content *ngIf="!hasMovimentos()" padding>
  <div class="ion-text-center">
    <ion-icon name="warning"></ion-icon>&nbsp;
    {{emptyMovimentosMessage}}
  </div>
</ion-content>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let movto of movimentos">
      <ion-label (click)="openOptionsDialog(movto)">
        <h2>{{movto.descricao}}</h2>
        <p>
          <ion-icon name="bookmarks"></ion-icon>&nbsp;
          <strong>{{movto.conta.nome}}</strong>
        </p>
        <p>
          <ion-icon name="calendar"></ion-icon>&nbsp;
          {{movto.dataContabilizacao | date: 'dd/MM/yyyy'}}
        </p>
        <p *ngIf="hasCategoria(movto)">
          <ion-icon name="pricetag"></ion-icon>&nbsp;
          {{movto.categoria.nome}}
        </p>

        <p *ngIf="hasCartaoCredito(movto)">
          <ion-icon name="card"></ion-icon>
          movto.fatura.
        </p>
      </ion-label>

      <ion-chip *ngIf="isCredito(movto); else movtoDebito" [outline]="!isEfetivado(movto)" color="success">
        <ion-label>{{movto.valorTotal | number: '1.2-2'}}</ion-label>
      </ion-chip>

      <ng-template #movtoDebito>
        <ion-chip color="danger" [outline]="!isEfetivado(movto)">
          <ion-label>{{movto.valorTotal | number: '1.2-2'}}</ion-label>
        </ion-chip>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>