<app-page-header 
  (closeEventEmitter)="closeModal()" 
  headerName="Nova corretora"
  showCloseButton="true"
>
</app-page-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="corretoraForm">
      <ion-item>
        <ion-label position="stacked">Conta de origem</ion-label>
        <ion-select placeholder="(Selecione)" formControlName="conta">
          <ion-select-option *ngFor="let conta of contas" [value]="conta.id">{{conta.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
    </form>
  </ion-list>

  <ion-button [disabled]="!corretoraForm.valid" (click)="inserir()" class="ion-float-right">
    Salvar
    <ion-icon slot="end" name="checkmark"></ion-icon>
  </ion-button>
</ion-content>