<app-page-header headerName="Inserir movimento"></app-page-header>

<!-- content -->
<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <form [formGroup]="movimentoForm">
      <ion-item>
        <ion-label position="stacked">Descrição</ion-label>
        <ion-input formControlName="descricao"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Crédito</ion-label>
        <ion-toggle formControlName="credito" (ionChange)="onCreditoChange()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data contabilização</ion-label>
        <ion-datetime (ionChange)="onDataContabilizacaoChanges()" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [max]="getMaxDate()"
          formControlName="dataContabilizacao"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Valor</ion-label>
        <ion-input type="number" formControlName="valor"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Status</ion-label>
        <ion-select placeholder="(Selecione)" formControlName="status">
          <ion-select-option *ngFor="let status of statusList" [value]="status.value">
            {{status.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Conta</ion-label>
        <ion-select placeholder="(Selecione)" formControlName="conta">
          <ion-select-option *ngFor="let conta of contas" [value]="conta.id">
            {{conta.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Categoria</ion-label>
        <ion-select (ionChange)="onCategoriaChange()" placeholder="(Selecione)" formControlName="categoria">
          <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{categoria.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Subcategoria</ion-label>
        <ion-select placeholder="(Selecione)" formControlName="subcategoria">
          <ion-select-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">
            {{subcategoria.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cartão de crédito</ion-label>
        <ion-select placeholder="(Selecione)" formControlName="cartao" (ionChange)="onCartaoChange()">
          <ion-select-option *ngFor="let cartao of cartoes" [value]="cartao.id">
            {{cartao.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fatura</ion-label>
        <ion-select placeholder="(Selecione)" formControlName="fatura">
          <ion-select-option *ngFor="let fatura of faturas" [value]="fatura.id">
            {{fatura.referencia}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Projeto</ion-label>
        <ion-select placeholder="(Selecione)" formControlName="projeto">
          <ion-select-option *ngFor="let projeto of projetos" [value]="projeto.id">
            {{projeto.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Observação</ion-label>
        <ion-textarea formControlName="obs"></ion-textarea>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
<!-- /.content -->

<!-- footer -->
<ion-footer>
  <ion-toolbar slot="start" color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="resetForm()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>

      <ion-button [disabled]="!movimentoForm.valid" (click)="inserir()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end">
      <ion-button (click)="showCartaoCreditoModal()">
        <ion-icon slot="icon-only" name="card"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-footer>
<!-- /.footer -->