<ion-card *ngFor="let fatura of faturas" (click)="openOptionsDialog(fatura)">
  <ion-card-header>
    <ion-card-title>{{fatura.referencia}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-label>
      <p>
        <ion-icon name="information-circle"></ion-icon> Status: <strong>{{transformStatus(fatura)}}</strong>
      </p>
      <p>
        <ion-icon name="calendar"></ion-icon> Vencimento: <strong>{{fatura.vencimento}}</strong>
      </p>
      <p>
        <ion-icon name="calendar"></ion-icon> Dia fechamento: <strong>{{fatura.cartao.diaFechamento}}</strong>
      </p>
      <p>
        <ion-icon name="cash"></ion-icon> Valor: <strong>{{fatura.valor | number: '1.2-2'}}</strong>
      </p>
    </ion-label>
  </ion-card-content>
</ion-card>