<app-page-header headerName="Detalhes da categoria"></app-page-header>

<ion-content>
    <ion-tabs>
        <!-- tabs-menu -->
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="geral">
                <ion-icon name="document"></ion-icon>
                <ion-label>Detalhes</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="movimentos">
                <ion-icon name="list"></ion-icon>
                <ion-label>Movimentos</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
        <!-- /.tabs-menu -->
    </ion-tabs>
</ion-content>