<ion-list>
  <ion-list-header>{{header}}</ion-list-header>

  <ion-item *ngFor="let categoria of categorias">
    <ion-label (click)="openOptionsDialog(categoria)">
      <h3>{{categoria.nome}}</h3>
      <p *ngIf="categoria.editavel">Editável: <strong>Sim</strong></p>
      <p *ngIf="!categoria.editavel">Editável: <strong>Não</strong></p>
    </ion-label>

    <ion-badge *ngIf="isCredito(categoria)" color="success">{{categoria.tipo}}</ion-badge>
    <ion-badge *ngIf="!isCredito(categoria)" color="danger">{{categoria.tipo}}</ion-badge>
  </ion-item>
</ion-list>