<app-page-header headerName="Categorias"></app-page-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- credit-categories -->
  <app-lista-categorias header="Crédito" [categorias]="getCategoriasCredito()" (detalhesEventEmitter)="detalhes($event)"
    (editarEventEmitter)="editar($event)" (removerEventEmitter)="remover($event)">
  </app-lista-categorias>
  <!-- /.credit-categories -->

  <!-- debit-categories -->
  <app-lista-categorias header="Débito" [categorias]="getCategoriasDebito()" (detalhesEventEmitter)="detalhes($event)"
    (editarEventEmitter)="editar($event)" (removerEventEmitter)="remover($event)">
  </app-lista-categorias>
  <!-- /.debit-categories -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/categorias/inserir']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>