<app-page-header headerName="Subcategorias"></app-page-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-lista-subcategorias
    header="Crédito"
    [subcategorias]="getSubcategoriasCredito()" 
    (detalhesEventEmitter)="detalhes($event)"
    (editarEventEmitter)="editar($event)"
    (removerEventEmitter)="remover($event)"
  ></app-lista-subcategorias>

  <app-lista-subcategorias
    header="Débito"
    [subcategorias]="getSubcategoriasDebito()" 
    (detalhesEventEmitter)="detalhes($event)"
    (editarEventEmitter)="editar($event)"
    (removerEventEmitter)="remover($event)"
  ></app-lista-subcategorias>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/subcategorias/inserir']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>